* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
    --primary: #000000;
    --bg: #f3f6f4e8;
    --text: #000000;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;

}

.navbar {
    background-color: #f3f6f4e8 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.nav-icons {
    cursor: pointer;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.hamburgerz {
    display: block;
    cursor: pointer;
}


.mobile-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.mobile-menu.show {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-menu a {
    text-decoration: none;
    color: black;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url(images/spilaw-hero.avif);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.1);
}

.hero-content {
    z-index: 2;
    position: relative;
}


.hero h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero p {
    color: white;
    margin-bottom: 15px;
}

.hero-btn {
    background-color: var(--bg);
    color: black;
    padding: 10px 35px;
    margin: 0 auto;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 40px;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
    gap: 50px;
    background-color: rgb(38, 92, 46);
    color: white;
}


.profiles {
    background-color: rgb(38, 92, 46);
    color: white;
}

.profiles h2,
.profiles h3,
.profiles p {
    color: white;
}


.profiles h2 {
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    margin-bottom: 100px;
}

.profile-container {
    padding: 20px;
}

.profile-card img {
    width: 270px;
    height: 300px;
}

.profile-card h3 {
    font-weight: 700;
}

.bio {
    font-size: 18px;
    text-align: justify;
    max-width: 900px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.position {
    font-size: 17px;
    font-weight: bold;
    margin-top: -12px;
}

.about-content {
    text-align: center;
    max-width: 800px;
}

.about-content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.about-content h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.mission-content {
    text-align: center;
    max-width: 800px;
}

.mission-content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.mission-content h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.aims-content {
    text-align: center;
    max-width: 800px;
}

.aims-content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.aims-content h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.membership {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    margin-top: -60px;
    background-color: rgb(38, 92, 46);
    color: white;
}

.membership-content {
    text-align: center;
    max-width: 800px;
}

.membership-content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.membership-content h2 {
    font-weight: 700;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
    gap: 50px;
    background-color: rgb(40, 46, 40);
    color: white;
}

.press-releases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 30px;
    gap: 30px;
    background-color: rgb(38, 92, 46);
    color: white;
}

.press-content {
    text-align: center;
    max-width: 800px;
}

.press-content p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
}

.press-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    margin-bottom: 100px;
}


.press-list {
    text-align: center;
    max-width: 800px;
    margin-bottom: 30px;
}

.press-list p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}

.press-title {
    margin-top: 50px;
    margin-bottom: 35px;
}

.press-title h2 {
    font-weight: 800;
    margin-bottom: 10px;
}

.press-title p {
    text-align: center;
    font-size: 18px;
}

.press-subdiv h3 {
    font-weight: bold;
    margin-bottom: 10px;
}















.footer-info p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #727070;
    text-align: center;
}

.footer-info {
    display: flex;
    text-align: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .nav-icons {
        display: none;
    }

    .nav-links {
        display: none;
    }


    .footer-content {
        margin-bottom: 30px;
    }

    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .footer-form h3 {
        justify-content: center;
        justify-self: center;
        margin-bottom: 30px;
    }

    .footer-icons {
        justify-self: center;
    }


    .hero {
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
        background-image: url(images/spilaw-mobile.avif);
    }


    .hero p {
        max-width: 400px;
        text-align: center;
    }

    .hero-btn {
        font-size: 18px;
    }

    .bio {
        text-align: center;
    }

    .about-content p {
        text-align: left;
    }

    .mission-content p {
        text-align: left;
    }

    .aims-content p {
        text-align: left;
    }

    .membership-content p {
        text-align: left;
    }

}